<div class="flex flex-col w-fit gap-1.5">
    <div class="flex items-center justify-between">
        <p class="text-[16px]">What is your current age<span class="text-red-500">*</span></p>
        <div class="flex items-center gap-4">
            <div
                class="flex items-center h-[44px] w-[124px] rounded-[8px] gap-2 border-[#E8E8E8] border pl-[14px] pr-[14px] pt-[10px] pb-[10px] justify-center">
                <p>$</p>
                <input type="numer" class="outline-none w-full" id="currentAge" value="22" onchange="currentAgeSlider.value = this.value"/>
            </div>
            <p>Yrs</p>
        </div>
    </div>
    <div class="pt-[8px] pb-[8px]">
        <input type="range" class="w-full" min="18" max="100" value="22" id="currentAgeSlider" oninput="currentAge.value = this.value"/>
    </div>
    <div class="flex items-center justify-between">
        <p class="text-[16px]">What is your current age<span class="text-red-500">*</span></p>
        <div class="flex items-center gap-4">
            <div
                class="flex items-center h-[44px] w-[124px] rounded-[8px] gap-2 border-[#E8E8E8] border pl-[14px] pr-[14px] pt-[10px] pb-[10px] justify-center">
                <p>$</p>
                <input type="numer" class="outline-none w-full" id="currentAge" value="22" onchange="currentAgeSlider.value = this.value"/>
            </div>
            <p>Yrs</p>
        </div>
    </div>
    <div class="pt-[8px] pb-[8px]">
        <input type="range" class="w-full" min="18" max="100" value="22" id="currentAgeSlider" oninput="currentAge.value = this.value"/>
    </div>
    <div class="flex items-center justify-between">
        <p class="text-[16px]">What is your current age<span class="text-red-500">*</span></p>
        <div class="flex items-center gap-4">
            <div
                class="flex items-center h-[44px] w-[124px] rounded-[8px] gap-2 border-[#E8E8E8] border pl-[14px] pr-[14px] pt-[10px] pb-[10px] justify-center">
                <p>$</p>
                <input type="numer" class="outline-none w-full" id="currentAge" value="22" onchange="currentAgeSlider.value = this.value"/>
            </div>
            <p>Yrs</p>
        </div>
    </div>
    <div class="pt-[8px] pb-[8px]">
        <input type="range" class="w-full" min="18" max="100" value="22" id="currentAgeSlider" oninput="currentAge.value = this.value"/>
    </div>
    <div class="flex items-center justify-between">
        <p class="text-[16px]">What is your current age<span class="text-red-500">*</span></p>
        <div class="flex items-center gap-4">
            <div
                class="flex items-center h-[44px] w-[124px] rounded-[8px] gap-2 border-[#E8E8E8] border pl-[14px] pr-[14px] pt-[10px] pb-[10px] justify-center">
                <p>$</p>
                <input type="numer" class="outline-none w-full" id="currentAge" value="22" onchange="currentAgeSlider.value = this.value"/>
            </div>
            <p>Yrs</p>
        </div>
    </div>
    <div class="pt-[8px] pb-[8px]">
        <input type="range" class="w-full" min="18" max="100" value="22" id="currentAgeSlider" oninput="currentAge.value = this.value"/>
    </div>
    <div class="flex items-center justify-between">
        <p class="text-[16px]">What is your current age<span class="text-red-500">*</span></p>
        <div class="flex items-center gap-4">
            <div
                class="flex items-center h-[44px] w-[124px] rounded-[8px] gap-2 border-[#E8E8E8] border pl-[14px] pr-[14px] pt-[10px] pb-[10px] justify-center">
                <p>$</p>
                <input type="numer" class="outline-none w-full" id="currentAge" value="22" onchange="currentAgeSlider.value = this.value"/>
            </div>
            <p>Yrs</p>
        </div>
    </div>
    <div class="pt-[8px] pb-[8px]">
        <input type="range" class="w-full" min="18" max="100" value="22" id="currentAgeSlider" oninput="currentAge.value = this.value"/>
    </div>
</div>